apiVersion: k3d.io/v1alpha5
kind: Simple
metadata:
  name: k3s-gaip
servers: 1
agents: 1
kubeAPI:
  hostIP: "127.0.0.1"
  hostPort: "6556"
image: rancher/k3s:v1.35.0-k3s1
ports:
# mapping the ingress port 80 to localhost:5080
- port: 5080:80
  nodeFilters:
  - loadbalancer
- port: 5443:443
  nodeFilters:
  - loadbalancer
registries:
  create:
    name: k3d-reg-docker-io
    hostPort: "5001"
    proxy:
      remoteURL: https://registry-1.docker.io # proxy DockerHub
    volumes:
    - /tmp/reg-docker-io:/var/lib/registry # persist data locally in /tmp/reg-docker-io
  config: |
    mirrors:
      "docker.io":
        endpoint:
        - http://host.k3d.internal:5001
        - http://k3d-reg-docker-io:5001